DOMAIN=xxxxx.me
TEMP_MAIL=xxxxxx
BROWSER_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.6723.92 Safari/537.36

# 代理
# BROWSER_PROXY='http://127.0.0.1:2080' 

# 无头模式
# BROWSER_HEADLESS='True'
